.navbar-brand{
    color: #5C4E40;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #172148;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.nav-item .nav-link{
font-weight: 500;
}

.navbar-collapse ul li a {
    position: relative;
    text-decoration: none;
    color: rgb(78, 67, 67);
  }
.navbar-collapse ul li a:hover:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* تعديل على هذه القيمة لتغيير ارتفاع الخط */
    width: 75%;
    margin-left: 6px;
    height: 2px; /* تعديل على هذه القيمة لتغيير سمك الخط */
    background-color: rgb(25, 25, 57); /* لون الخط عند التأشير عليه */
  }
 
    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 